<section class="container">


<div class="search-div">
  <nav aria-label="breadcrumb" class="ml-2 mt-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/users']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Users</li>
    </ol>
  </nav>
  <div class="col-md-3 ml-auto mr-auto">
    <button mat-raised-button [routerLink]="['/users/create']" routerLinkActive="router-link-active" class="btn-success shadow rounded-pill mb-2 mt-2 ml-auto mr-auto" >
      <mat-icon>add</mat-icon>Create User
    </button>
  </div>
  <mat-form-field class="search-form-field" floatLabel="never">
    <input matInput [(ngModel)]="searchKey" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
    <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="searchKey"  (click)="onSearchClear()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

</div>

<div class="main-content"  style="margin-top: 0%;">
  <div class="container-fluid" style="margin-top: 1%;">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-success">
                      <h4 class="card-title font-weight-bold">Mock Users</h4>
                    
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                       
                          <table class="table">
                            
                              <mat-table [dataSource]="Data"  class="mat-elevation-z8"  matSort>
                                <ng-container matColumnDef="id">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header  >Id</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="userName">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header  >UserName</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.userName}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header  >Email</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
                                </ng-container>
            
                                <ng-container matColumnDef="phone">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header  >Phone</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.phone}}</mat-cell>
                                </ng-container> 
                                <ng-container matColumnDef="gender">
                                  <mat-header-cell *matHeaderCellDef  mat-sort-header  >Gender</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.gender}}</mat-cell>
                                </ng-container> 
                          
                                
                                 <ng-container matColumnDef="age">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header >Age</mat-header-cell>
                                  <mat-cell *matCellDef="let element">{{element.age}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="actions">
                                  <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                  <mat-cell *matCellDef="let row">
                                    <button mat-icon-button (click)="view_user(row.id)" data-toggle="modal" data-target="#exampleModalCenter"><mat-icon>visibility</mat-icon></button>
                                    <button mat-icon-button color="warn" (click)=Delete(row.id) ><mat-icon>delete_outline</mat-icon></button>
                                  </mat-cell>
                                </ng-container>
                          
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                              </mat-table>
                              <mat-paginator [length]="length" [pageSize]="50"
                                [pageSizeOptions]="[5,10,15,25,50]"  (page)="onPaginate($event)">
                              </mat-paginator>
                          


                          </table>
                      </div>
                  </div>
              </div>
          </div>
          
              
          
      </div>
  </div>
</div>
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">User View</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-md-10">
            <label for=""> User Name :</label>
            <h4 class="text-primary">{{eachuser.userName}}</h4>
          </div>
          <div class="col-md-10">
            <label for=""> Email :</label>
            <h4 class="text-primary">{{eachuser.email}}</h4>
          </div>
          <div class="col-md-10">
            <label for=""> Phone :</label>
            <h4 class="text-primary">{{eachuser.phone}}</h4>
          </div>
          <div class="col-md-10">
            <label for=""> Gender :</label>
            <h4 class="text-primary">{{eachuser.gender}}</h4>
          </div>
          <div class="col-md-10">
            <label for=""> Age :</label>
            <h4 class="text-primary">{{eachuser.age}}</h4>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</section>